* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Futura,"futura-pt",sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
header {
    margin-top: 30px;
    margin-bottom: 20px;
}
header .description {
    font-size: 1.5rem;
}
header h1 {
    margin-bottom: 5px;
}
.filmPart {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.filmPart legend {
    background-color: #CC3232;
    color: #fff;
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 3px;
}
.inputWrapper{
    display: flex;
    /* flex-direction: row-reverse; */
    flex-flow: column-reverse
}
.inputWrapper label {
    /* flex-grow大于0则占满可用长度 */
    flex: 1 0 50%;
}
.inputWrapper + .inputWrapper{
    margin-top: 15px;
}
.inputWrapper > input:not([type="range"]),.inputWrapper textarea {
    flex: 1 0 50%;
    font-size: 1.2em;
    padding: 5px;
    outline: none;
    border: 1px solid #f1f1f1;
    /* background: linear-gradient(to right, rgba(204,204,204,.4),rgba(204,204,204,.4)) #fff; */
    background: radial-gradient(1000px circle,  #fff 99%, transparent 99%), #f1f1f1;
    background-position: -400px 50px;
    background-repeat: no-repeat;
    position: relative;
    transition: background-position .2s, transform .5s, box-shadow .2s;
}
.inputWrapper > span {
    flex: 1 0 50%;
}
.inputWrapper > input:not([type="range"]) {
    box-shadow: inset 0 -3px #CC3232;
    height: 30px;
    font-size: 1.05em;
}
.inputWrapper > input:not([type="range"]):focus,.inputWrapper >textarea:focus {
    background-position: 0 0;
}
.inputWrapper > input:not([type="range"]):focus {
    box-shadow: 0 0 1px 1px #ebebeb, inset 0 -3px rgb(204, 50, 50);
    transform: scale(1.1,1.1);
    border: 1px solid #cc3232;
    animation: blinks 2s ease infinite;
}
.inputWrapper > input[required] + label::after {
    content: "*";
    color: #CC3232;
    font-size: 2rem;
}
@keyframes blinks {
    0%,
    100% {
        filter: drop-shadow(0 0 3px rgba(33, 150, 243, .72));
    }
    50% {
        filter: drop-shadow(0 0 8px rgba(33, 150, 243, .72));
    }
}
@media screen and (min-width:800px) {
    .inputWrapper {
        flex-direction: row-reverse;
    }
    body {
        padding: 0 30px;
    }
}

.part2 {
    margin-top: 32px;
}
.part2 legend {
    background-color: #739327;
}
.part2 .inputWrapper > input:focus {
    box-shadow: 0 0 1px 1px #ebebeb, inset 0 -3px #739327;
    border: 1px solid #739327;
    animation: blinks 2s ease infinite;
}
.part2 .inputWrapper > input {
    box-shadow: inset 0 -3px #739327;
}

.subBtn {
    perspective: 500px;
    position: relative;
    width: 30%;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 30px;
    background: none;
}
.rotateWrapper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    position: absolute;
    top: 0;
    left: 0;
}
.panel{
    font-size: 1.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.rotateWrapper .back {
    background: indianred;
    transform: rotatex(180deg);
}
.front {
	background-color:indigo;
}
.subBtn:hover .rotateWrapper{
    transform: rotatex(180deg);
}